@font-face {
    font-family: "dosisLight";
    src: url(../fonts/Dosis/static/Dosis-ExtraLight.ttf);
}

@font-face {
    font-family: "dosisMedium";
    src: url(../fonts/Dosis/static/Dosis-Medium.ttf);
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}

/* header */

header a{
    display: flex;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 1.4em;
    text-decoration: none;
    font-family: "dosisLight";
}

header{
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-left: 15px;
}

/* Page 1 */

#top{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    align-items: center;
}

#top h1{
    font-size: 2.5em;
    color: #6ba2f5;
    text-shadow: 1px 1px 2px rgb(233, 13, 49);
    margin-bottom: 10px;
    font-family: "dosisMedium";
}

#top button{
    color: rgb(133, 35, 224);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: "dosisLight";
    font-weight: 600;
    margin-top: 12px;
}

#formAdd{
    display: flex;
    width: 100%;
    padding: 15px;
    font-family: "dosisLight";
    color: black;
    font-weight: 500;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding-left: 0px;
    visibility: hidden;
}

#titleAdd, #yearAdd, #realisatorAdd{
    margin-left: 3px;
    margin-right: 10px;
}

form label{
    margin-left: 50px;
}

#titleAdd, #yearAdd, #realisatorAdd, form label{
    margin-top: 8px;
    margin-left: 3px;
}

input{
    background-color: rgb(236, 208, 213);
    border: none;
    border-radius: 5px;
}

label{
    margin-left: 0px;
    color: white;
}

.displayResult{
    background-color: aliceblue;
    color: rgb(133, 35, 224);
    padding: 3px;
    border-radius: 5px;    
    text-align: center;
    font-family: "dosisLight";
    font-weight: 600;
    margin-top: -45px;
    margin-bottom: 15px;
}

.tableFull {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

main th{
    font-family: "dosisMedium";
    color: rgb(148, 66, 224);
    font-size: 1.7em;
    background-color: rgba(245, 225, 197, 0.527);
    padding: 10px 10px;
}


table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    width: 100%;
    margin-top: 5px;
    }

main td{
    padding: 20px 30px;
}

table tr{
    color: rgb(155, 84, 221);
    font-family: "dosisLight";
    font-weight: 600;
}

main tr:nth-child(odd){
    background-color: aliceblue;
}

main tr:nth-child(even){
    background-color: #c0d3f0;
}

th:first-child {
    border-top-left-radius: 1em;
}

th:last-child {
    border-top-right-radius: 1em;
}

tr:last-child{
    border-bottom-right-radius: 1em ;
}

#sortBtn{
    color: rgb(133, 35, 224);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: "dosisLight";
    font-weight: 600;
}

.sort{
    display: flex;
    width: 150px;
    margin-left: 12%;
    
}

button:hover{ 
    cursor:pointer;
}

select:hover{
    cursor: pointer;
}

.delButton{
    background-color: rgba(236, 155, 169, 0.966);
    border: none;
    border-radius: 3px;
    color: rgb(133, 35, 224);
    font-family: "dosisLight";
    font-weight: 600;
    padding: 5px;
}

#popup{
    z-index: 1.5;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    background-color: rgba(75, 69, 69, 0.932);
    color: white;
    padding: 25px;
    margin-left: 40%;
    border-radius: 50px;
    display: none;
}

#popup button{
    width: 75px;
    margin: auto;
    margin-bottom: 5px;
    background-color: aliceblue;
    color: rgb(133, 35, 224);
    border: none;
    border-radius: 10px;
}

/* Page 2  */

#searchH1{
    font-size: 2.5em;
    color: #6ba2f5;
    text-shadow: 1px 1px 2px rgb(233, 13, 49);
    margin-bottom: 10px;
    font-family: "dosisMedium";
    text-align: center;
}

#searchBar{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 20px;
}

#select-search-type{
    color: rgb(133, 35, 224);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: "dosisLight";
    font-weight: 600;
}


#searchBar input{
    margin-left: 5px;
    margin-right: 50px;
    color: rgb(133, 35, 224); 
    font-family: "dosisLight";
    font-weight: 600;
}

table img {
    height: 150px;
    border-radius: 3px;
    border: 2px solid pink;
}

#btn-movie-search {
    color: rgb(133, 35, 224);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: "dosisLight";
    font-weight: 600;
    margin-left: 15px;
}

#tableDisp{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
}

#table-search-results{
    width: 90%;
    margin: auto;
}

#pagination button{
    display: none;
    width: 100px;
    color: rgb(133, 35, 224);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    border: none;
    font-family: "dosisLight";
    font-weight: 600;
}

#pagination{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 10px;
}

@media all and (max-width: 1000px){
    main{
        width: 800px;
        margin: auto;
    }

    #top{
        width: 800px;
        margin: auto;
    }
}





@media all and (max-width: 768px){
    main{
        width: 650px;
        margin: auto;
    }

    #top{
        width: 650px;
        margin: auto;
    }

    header{
        text-align: center;
    }
}

@media all and (max-width: 650px){
    main{
        width: 400px;
        margin: auto;
    }

    #top{
        width: 400px;
        margin: auto;
    }

    #tableFull{
        width: 380px;
        margin: auto;
    }
    
    #searchBar{
        width: 400px;
    }
}

@media all and (max-width: 570px){
    main{
        width: 300px;
        margin: 5px 5px;
        
    }

    #searchBar{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    #searchBar input{
        margin-right: 10px;
    }

    #formAdd{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #tableFull{
        width: 380px;
        margin: auto;
    }
}

@media all and (max-width: 440px){

    main{
        margin: 5px 5px;
    }

    h1{
        text-align: center;
    }

    #searchBar{
        width: 250px;
    }

    #searchBar input{
        margin-right: 10px;
    }

    #formAdd{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #tableFull{
        /* width: 100%; */
        margin: auto;
    }

    html{
        margin-left: 0px
    }
}


